{% extends "base.html" %}

{% block title %}Settings|Service Status{% endblock %}
{% block content %}
    <div class="container mt-5">
        <h2 style="color: #a7ded6">Change Settings</h2>

        <!-- Display current values -->
        <div class="card">
            <div class="card-body bg-success">
                <p><strong>Username:</strong> {{ current_user.username }}</p>
                <p><strong>Email:</strong> {{ current_user.email }}</p>
                <p><strong>Polling Interval:</strong> {{ schedule_interval }} seconds</p>
            </div>
        </div>

        <form id="settingsForm" method="POST">
        <div class="card">
            <div class="card-body bg-success">
                <div class="mb-3">
                    <label for="new_password" class="form-label">New Password:</label>
                    <input type="password" class="form-control" id="new_password" name="new_password">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">New Email:</label>
                    <input type="email" class="form-control" id="email" name="email">
                </div>
            </div>
        </div>
            <button type="submit" class="btn btn-primary">Save Changes</button>
        </form>

        <script>$(document).ready(function() {
                $('#settingsForm').on('submit', function(event) {
                    event.preventDefault();

                    var formData = $(this).serialize();

                    $.ajax({
                        url: '/change_settings',
                        type: 'POST',
                        data: formData,
                        success: function(response) {
                            alert('Settings updated successfully!');
                            location.reload();
                        },
                        error: function(xhr, status, error) {
                            alert('Error updating settings: ' + xhr.responseText);
                        }
                    });
                });
            });
        </script>
    </div>
{% endblock %}